<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lançamentos de Despesa</ion-title>

    <!-- se não houver operacao definida (1-consulta | 2-insercao | 3-edição | 4-exclusão), mostra opção para filtrar -->
    <div *ngIf="operacao == null" padding>
      <ion-list>
        <ion-item>
          <ion-label stacked>Conta:</ion-label>
          <ion-select name="contaOld" [(ngModel)]="contaSelecionada">
            <ion-option *ngFor="let conta of contas" value="{{ conta.codigo }}">{{ conta.codigo }} | {{ conta.descricao }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Mês/Ano:</ion-label>
          <ion-datetime displayFormat="MM/YYYY" name="mesAnoSelecionado" min="2017-01" max="2020-12" [(ngModel)]="mesAnoSelecionado"></ion-datetime>
        </ion-item>
        <ion-item>
          <button ion-button small color="light" (click)="filtrar($event, mesAnoSelecionado, contaSelecionada)">Filtrar</button>
        </ion-item>
      </ion-list>
    </div>

  </ion-navbar>
</ion-header>

<ion-content>

  <!-- se estiver consultando (1-consulta), exibe todos os itens de acordo com o filtro informado -->
  <div *ngIf="operacao == 1" padding>
    <ion-list>
      <ion-item-sliding *ngFor="let item of items">
        <button ion-item (click)="editItem($event, item, mesAnoSelecionado, contaSelecionada)">
          <h1>{{ item.historico }}</h1>
          <h2>{{ item.dataReceita | date:'dd/MM/yyyy' }} | {{ item.codigo }}</h2>
          <h2>{{ item.mesAno }}</h2>
          <h2>{{ item.situacao }}</h2>
          <h2 [ngClass]="item.situacao=='PAGO' ? 'Pago' : 'APagar'">{{ item.valor | currency:'BRL':true }}</h2>
        </button>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="deleteItem($event, item, mesAnoSelecionado, contaSelecionada)">
            <ion-icon name="trash"></ion-icon>
            Excluir
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!-- se tiver algum item selecionado, o usuário está editando ou excluindo - vincula os controles ao selectedItem -->
  <div *ngIf="selectedItem" padding>
    <ion-label *ngIf="operacao == 3">Você está editando o lançamento abaixo:</ion-label>
    <ion-label *ngIf="operacao == 4">Tem certeza que deseja excluir o lançamento abaixo?</ion-label>
    <ion-list>
      <ion-item>
        <ion-label stacked>Conta</ion-label>
        <ion-select name="contaOld" [(ngModel)]="selectedItem.codigo">
          <ion-option *ngFor="let conta of contas" value="{{ conta.codigo }}">{{ conta.codigo }} | {{ conta.descricao }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Data Despesa</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" name="dataReceitaOld" min="2017" max="2020-12-31" [(ngModel)]="selectedItem.dataReceita"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked>Histórico</ion-label>
        <ion-input type="text" [(ngModel)]="selectedItem.historico" name="historicoOld"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Valor</ion-label>
        <ion-input type="number" name="valorOld" [(ngModel)]="selectedItem.valor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Situação</ion-label>
        <ion-select name="situacaoOld" [(ngModel)]="selectedItem.situacao">
          <ion-option value="PAGO">Pago</ion-option>
          <ion-option value="A PAGAR">A Pagar</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!-- se estiver editando (3-edição), exibe os botões para cancelamento e salvamento -->
    <div *ngIf="operacao == 3">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button full (click)="cancel($event, item, mesAnoSelecionado, contaSelecionada)">Cancelar</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (click)="save($event, item, mesAnoSelecionado, contaSelecionada)">Salvar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- se estiver editando (3-edição), exibe os botões para cancelamento e salvamento -->
    <div *ngIf="operacao == 4">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button full (click)="cancel($event, item, mesAnoSelecionado, contaSelecionada)">Cancelar</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block (click)="delete($event, item, mesAnoSelecionado, contaSelecionada)">Excluir</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- se estiver inserindo (2-insercao), vincula os controles diretamente ao lancamentoDespesa -->
  <div *ngIf="operacao == 2" padding>
    <ion-label>Você está inserindo um novo item</ion-label>
    <ion-list>
      <ion-item>
        <ion-label stacked>Conta</ion-label>
        <ion-select name="contaOld" [(ngModel)]="lancamentoDespesa.CODIGO">
          <ion-option *ngFor="let conta of contas" value="{{ conta.codigo }}">{{ conta.codigo }} | {{ conta.descricao }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Data Despesa</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" name="dataReceitaNew" min="2018" max="2025-12-31" [(ngModel)]="lancamentoDespesa.DATA_RECEITA"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked>Histórico</ion-label>
        <ion-input type="text" [(ngModel)]="lancamentoDespesa.HISTORICO" name="historicoNew"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Valor</ion-label>
        <ion-input type="number" name="valorNew" [(ngModel)]="lancamentoDespesa.VALOR"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Situação</ion-label>
        <ion-select name="situacaoNew" [(ngModel)]="lancamentoDespesa.SITUACAO">
          <ion-option value="PAGO">Pago</ion-option>
          <ion-option value="A PAGAR">A Pagar</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full (click)="cancel($event, item, mesAnoSelecionado, contaSelecionada)">Cancelar</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full (click)="save($event, item, mesAnoSelecionado, contaSelecionada)">Salvar</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <!-- só mostra o botão de inclusão de o usuário estiver consultando (1-consulta) -->
  <ion-fab right bottom *ngIf="operacao == 1">
    <button ion-fab color="light" (click)="addItem($event, item, mesAnoSelecionado, contaSelecionada)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<!-- só mostra o rodapé de o usuário estiver consultando (1-consulta) -->
<ion-footer *ngIf="operacao == 1">
  <ion-toolbar>
    <p style="text-align: right; color:#f53d3d;">A Pagar: {{ totalPagar | currency:'BRL':true }}</p>
    <p style="text-align: right; color:#387ef5;">Pago: {{ totalPago | currency:'BRL':true }}</p>
    <p style="text-align: right; ">Total: {{ totalGeral | currency:'BRL':true }}</p>
  </ion-toolbar>
</ion-footer>
